<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.workbench.texteditor.codeMiningProviders">
      <codeMiningProvider
            class="daomephsta.fabriclipse.mixin.MixinCodeMiningProvider"
            id="fabriclipse.mixinCodeMinings"
            label="%mixinCodeMiningProvider.label">
         <enabledWhen>
               <with variable="editor">
                  <test
                        forcePluginActivation="true"
                        property="daomephsta.fabriclipse.partId"
                        value="org.eclipse.jdt.ui.ClassFileEditor">
                  </test>
               </with>
         </enabledWhen>
      </codeMiningProvider>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="daomephsta.fabriclipse.util.WorkbenchPartIdPropertyTester"
            id="daomephsta.fabriclipse.partId"
            namespace="daomephsta.fabriclipse"
            properties="partId"
            type="org.eclipse.ui.IWorkbenchPart">
      </propertyTester>
   </extension>
   <extension point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.jdt.ui.category.source"
            defaultHandler="daomephsta.fabriclipse.mixin.MixinCodeMiningProvider$ToggleMiningsHandler"
            id="daomephsta.fabriclipse.mixin.ToggleMiningsCommand"
            name="%toggleMiningsCommand.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.editors?after=org.eclipse.ui.edit.text.toggleShowWhitespaceCharacters">
         <command
               commandId="daomephsta.fabriclipse.mixin.ToggleMiningsCommand"
               label="%toggleMiningsCommand.label"
               style="push">
            <visibleWhen checkEnabled="false">
             <and>
               <test
                     forcePluginActivation="true"
                     property="org.eclipse.jdt.ui.hasPreference"
                     value="editor_codemining_enabled">
               </test>
               <with variable="activeEditor">
                  <test
                        forcePluginActivation="true"
                        property="daomephsta.fabriclipse.partId"
                        value="org.eclipse.jdt.ui.ClassFileEditor">
                  </test>
               </with>
             </and>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
</plugin>
